*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

.header{
  outline: 1px solid gold;
  height: 3rem;
}
.container{
  
  display: flex;
  height: inherit;  /*hereda la altura del contenedor padre(body) */
}
.content {
 outline: 1px solid cyan;
  flex:1    /*ocupa todo el espacio que queda del ancho.*/
}
.aside{
  outline:1px solid magenta ;
  flex:0 0 25%
}
.footer{
  
  height: 6rem;
  margin-top: auto; /*manda al footer a la parte baja*/
  outline: 1px solid salmon; /* borde que se dibuja por encima(superpuesto) del elemento no afecta las mediads (ancho alto,etc) */
}
body{
  display: flex;    /* se aplica en el contenedor principal por defecto se ejecuta en el eje principal(eje x) y de izquierda a derecha */

  
  height: 100vh;  /* "viewport-height su medida nos permite definir las dimensiones porcentuales de (vw)anchura/altura de todos los "elementos que contiene"  por ende los elementos footer, header y section se veran al 100% a lo largo del navegador desde donde lo visualizamos*/
  flex-flow: column nowrap;
  font-size: 16px;
}
.menu{
  display: flex;
}

.Menu-item{
  list-style: none;
  flex: 1;
  outline: 1px solid cyan;
  line-height: 3rem;  /* completa la altura obteniendo dicha altura del contenedor padre en este caso header*/
  text-align: center;
  transition: flex 0.5s; /* significa que se aplicara la transición en el elemento flex y durará medio segundo */

}

.Menu-item:hover {
  flex: 8; /*nos indica el factor de crecimiento cuando apuntamos conel mouse en el item */

}